* {    
    font-family: 'Staatliches', cursive;
}

body {
  background-color: #33313b;
}

.search-photo {
  background-image: url(./jake-noren-1220523-unsplash.jpg);
  background-size: cover;
  background-repeat: none;
  min-height: 60vh;
  background-position-y: 70%;
}

.title {
  color: white;
  font-size: 10em;
  text-shadow: -3px 3px 5px black;
}

.search-bar {
  border-radius: 0px;
  font-family: 'Nunito Sans', sans-serif;
  box-shadow: -3px 3px 2px black;
  min-width: 20em;
}

.search-bar-submit {
  border-radius: 0px;
  font-family: 'Nunito Sans', sans-serif;
  box-shadow: 0px 3px 2px black
}

audio {
  max-width: 100%;
  max-height: 2em;
}

.results {
  color: #edf4ed;
}

.song-album {
font-family: 'Nunito Sans', sans-serif;
}

.card {
  background-color: #edf4ed;
  border-radius: 0px;
  min-height:25em;
  max-height: 25em;
  overflow: auto;
}

.card:hover {
background-image: url('./jake-noren-1220523-unsplash.jpg');
}

.card-title {
  margin: 0px;
  padding-top: 0.1em;
  padding-bottom: 0.1em
}

.album-art:hover {
  background-image: url('./jake-noren-1220523-unsplash.jpg');
}

.card-body {
    text-align:justify;
    padding-top: 0px;
    padding-bottom: 0px;
}

.purchase-btn {
  max-height: 2em;
  margin-bottom: 0.21em;
}

.btn {
  background-color: #834c69;
  border-color: #834c69;
  color: white;
  border-radius: 0px;
}

.button-row {
  padding-top: 1em;
  margin-left: -6em;
}